.two_columns {
  display: flex;
  justify-content: space-between;
}
.avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 10px solid #c9ada7;
}
.left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main {
  margin-left: 40px;
}
html {
  font-family: Hahmlet, sans-serif;
  color: #4a4e69;
  scroll-behavior: smooth;
}
aside {
  width: 320px;
  background-color: #c9ada7;
  padding: 0 20px;
  flex: 1;
  border-radius: 20px;
}
.profile {
  text-align: center;
  margin: 20px;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f2e9e4;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.rs-logo {
  height: 50px;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
code {
  border-radius: 20px;
}
nav {
  background-color: #c9ada7;
  border-radius: 20px;
  margin-top: 10px;
}
nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  height: 100%;
}
nav a {
  text-decoration: none;
  padding: 10px;
  display: block;
  color: #4a4e69;
}
nav a:hover {
  background-color: #544552;
  color: #f2e9e4;
}
nav ul li {
  flex: 1;
  text-align: center;
}
@media screen and (max-width: 425px) {
  .two_columns {
    flex-direction: column;
    padding: 0 10px;
  }
  aside {
    width: auto;
    margin: 0;
  }
  main {
    margin: 0;
  }
  .avatar {
    max-width: 100%;
  }
  footer {
    flex-direction: column;
  }
}
